# Intro to Python for Data Analytics

In [ ]:
!pip install pandas #run this if you get a module not found error when you try
# to import pandas
# OR you can directly use this in a terminal

In [26]:
import pandas as pd #this will import the pandas module, abbreviated as pd
import numpy as np #this will import the numpy module, abbreviated as np
#These are already part of nearly every Python installation, so we don't install them
#If you DID need to install, you could use "pip install" in your terminal

In [34]:
!ls
#by the way, if you start a command with !, it will pass it to the terminal ðŸ˜€
!echo "I can use bash in this notebook! yay ^_^"

'2022-01-31 R notes.ipynb'  '2022-02-02 Python notes.ipynb'   demo.xlsx
I can use bash in this notebook! yay ^_^

In [31]:
demo = pd.read_excel("~/IST 2510/demo.xlsx")
#oops, I got an error saying I needed to install openpyxl.. 
#did you get this error? if so, run the next cell ðŸ˜€ 
#then come back to this cell and run it again ðŸ™‚

In [30]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /opt/conda/lib/python3.9/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.9/site-packages (from openpyxl) (1.1.0)

In [32]:
demo.columns

Index(['age', 'marital', 'address', 'income', 'inccat', 'car', 'carcat', 'ed',
       'employ', 'retire', 'empcat', 'jobsat', 'sex', 'reside', 'wireless',
       'multline', 'voice', 'pager', 'internet', 'callid', 'callwait', 'owntv',
       'ownvcr', 'owncd', 'ownpda', 'ownpc', 'ownfax', 'news', 'response',
       'rating1', 'rating2'],
      dtype='object')

In [35]:
demo #preview of your data

,age,marital,address,income,inccat,car,carcat,ed,employ,retire,...,owntv,ownvcr,owncd,ownpda,ownpc,ownfax,news,response,rating1,rating2
0,55,Married,12,72,$50 - $74,36.2,Luxury,Did not complete high school,23,No,...,Yes,Yes,Yes,No,No,No,Yes,No,6,7
1,56,Unmarried,29,153,$75+,76.9,Luxury,Did not complete high school,35,No,...,Yes,Yes,Yes,No,No,No,Yes,Yes,8,9
2,28,Married,9,28,$25 - $49,13.7,Economy,Some college,4,No,...,Yes,Yes,Yes,Yes,Yes,No,No,No,7,8
3,24,Married,4,26,$25 - $49,12.5,Economy,College degree,0,No,...,Yes,Yes,Yes,Yes,Yes,Yes,No,No,2,3
4,25,Unmarried,2,23,Under $25,11.3,Economy,High school degree,5,No,...,Yes,Yes,Yes,No,No,No,No,No,9,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6395,23,Unmarried,1,15,Under $25,7.4,Economy,College degree,0,No,...,No,No,No,No,Yes,No,No,No,5,6
6396,52,Unmarried,8,25,$25 - $49,12.7,Economy,Some college,2,No,...,Yes,Yes,Yes,No,Yes,No,No,No,6,7
6397,42,Unmarried,20,59,$50 - $74,29.4,Standard,Did not complete high school,16,No,...,Yes,Yes,Yes,No,No,No,Yes,No,4,5
6398,51,Unmarried,17,123,$75+,62.5,Luxury,College degree,26,No,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No,5,5
6399,28,Unmarried,3,22,Under $25,11.1,Economy,Did not complete high school,2,No,...,Yes,Yes,Yes,No,No,No,No,No,10,10

### Common Data Formats in Python
There's so many custom objects in Python, it'd be difficult to list them all ðŸ˜…. Here's some common objects you'll work with
- Pandas DataFrames
- NumPy Arrays
- Lists
- Dictionaries
- ... and there's way more ðŸ˜… but luckily we can coerce i.e. convert from one type to another.

In [36]:
type(demo) #this shows that our data was loaded into a pandas DataFrame

pandas.core.frame.DataFrame

In [37]:
type(demo["marital"]) #there's also Pandas Series, which are vectors like NumPy
#any single column of data in a DataFrame is treated as a Series

pandas.core.series.Series

In [38]:
type(demo["marital"].to_numpy()) #this converts a Pandas Series to a NumPy array

numpy.ndarray

In [39]:
type(demo["marital"].to_list()) #this converts a Pandas Series to a list object

list

In [40]:
type(demo["marital"].to_dict()) #this converts a Pandas Series to a dictionary object

dict